.txt-tools{
    position: absolute;
    background-color: powderblue;
    padding: 2px;
    border-radius: 4px;
    display: flex;
    z-index: 100;
    bottom: -40px;
}
.txt-tools-btn{
    position: relative;
    height: 20px;
    background-color: #433e3a;
    color: #fff;
    padding: 2px;
    margin: 2px;
}
html{
    background: #f5f5f5;
}
textarea{
    width: inherit;
    height: inherit;
    border: none;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    background-color: inherit;
    color: inherit;
    overflow: hidden;
    resize: none;
    white-space: nowrap;
    user-select: none;
}
textarea:focus-visible{
    outline: none;
}
.bgcol{
    background: #188fd48c;
}
.bgtext{
    background: #00800000;
}
.center{
    text-align: center;
}
.page{
    position: absolute;
    background: #fff;
    background-size: 210mm 297mm;
    height: 297mm;
    width: 210mm;
    overflow: hidden;
    transform-origin: 0px 0px;
    transform: scale(0.6);
}

.bg{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 0;
    opacity: 0;
}
.img{
    position: absolute;
    height: 200px;
    width: 200px;
    left: 50px;
    top: 50px;
    background-image: url("/fonts/deflogo.png");
    background-size: 100%;
    overflow: auto;
    opacity: 0.6;
}
::-webkit-resizer {
    position: absolute;
    height: 40px;
    width: 40px;
    border: 40px solid ;
    border-color:transparent rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) transparent;;
}
.ele{
    position: absolute;
    height: 10mm;
    width: 10mm;
    left: 10mm;
    top: 10mm;
    background-color: gray;resize: both;
    resize: none;
    overflow: auto;
}
::-moz-selection { /* Code for Firefox */
    color: rgb(51, 48, 48);
    background: #6868680f;
    }

    ::selection {
    color: rgb(51, 48, 48);
    background: #6868680f;
    }

#ruler-mover{
    position: fixed;
    height: 20px;
    width: 20px;
    cursor: move;
    z-index: 32;
    background-color: #744cbb8c;
    top: 0;
    left: 0;
}
#horizontal-ruler{
    position: fixed;
    height: 20px;
    width: 100%;
    background-color: #744cbb8c;
    z-index: 30;
    display: flex;
    flex-direction: row;
    top: 0;
    left: 0;
}

#vertical-ruler{
    position: fixed;
    height: 100%;
    width: 20px;
    background-color: #744cbb8c;
    z-index: 30;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
}
.marking-v{
    position: relative;
    height: 5%;
    border-bottom: 1px solid #f5f5f5;
    opacity: 0.5;
    text-align: center;
    color: #f5f5f5;
    user-select: none;
    padding-top: 100%;
}
.marking-h{
    position: relative;
    width: 5%;
    border-right: 1px solid #f5f5f5;
    opacity: 0.5;
    text-align: center;
    color: #f5f5f5;
    user-select: none;
}
.deselector{
    position: relative;
    height: 100%;
    width: 100%;
    background-color: transparent;
}
.ele .autowidth {
    display: inline-block;
    width: 100%;
    height: 100%;
  }